* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    --accent-color: #00a566;
    --light-shade: rgba(var(--text-color), 0.06);
    --text-color: 17, 17, 17;
    --text-color-light: 100, 100, 100;
    --foreground-color: 255, 255, 255;
    --background-color: #efefef;
    --error-color: red;
    color: rgba(var(--text-color), 1);
    height: calc(100%);
    font-size: clamp(1rem, 1.2vmax, 3rem);
    background: rgba(var(--text-color), 0.06);
}
body[data-theme='dark']{
    --accent-color:#00fa9a;
    --text-color: 240, 240, 240;
    --text-color-light: 170, 170, 170;
    --foreground-color: 20, 20, 20;
    --error-color: rgb(255, 106, 106);
    background: rgba(var(--foreground-color), 1);
}
.heading{
    // font-family: 'Roboto Mono', sans-serif;
}

.h1{
    font-size: 2.5rem;
}
.h2{
    font-size: 2rem;
}
.h3{
    font-size: 1.4rem;
}
.h4{
    font-size: 1rem;
}
.h5{
    font-size: 0.8rem;
}

p {
    line-height: 1.5;
}

img{
    object-fit: cover;
}

button{
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: inherit;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}
.button{
    border-radius: 0.2rem;
    padding: 0.5rem 0.6rem;
}
.button--primary{
    background: var(--accent-color);
    color: rgba(var(--foreground-color), 1);
    .icon{
        fill: rgba(var(--foreground-color), 1);
    }
}
button:focus-visible{
    outline: rgba(var(--text-color), 1) 0.1rem solid;
}
sm-input,
sm-textarea{
    --border-radius: 0.2rem;
    --background: rgba(var(--text-color), 0.06);
}
sm-button{
    --border-radius: 0.2rem;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.flow-column{
    grid-auto-flow: column;
}
.gap-0-5{
    gap: 0.5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-1-5{
    gap: 1.5rem;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.justify-right{
    margin-left: auto;
}
.direction-column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.full-width{
    width: 100%;
}
.margin-top-1-5{
    margin-top: 1.5rem;
}
.margin-bottom-0-5{
    margin-bottom: 0.5rem;
}
.margin-bottom-1{
    margin-bottom: 1rem;
}
.margin-bottom-1-5{
    margin-bottom: 1.5rem;
}
.margin-bottom-2{
    margin-bottom: 2rem;
}
.margin-left-0-5{
    margin-left: 0.5rem;
}
.margin-right-0-5{
    margin-right: 0.5rem;
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.hide-completely{
    display: none !important;
}
.no-transformations{
    transform: none !important;
}
.overflow-ellipsis{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(var(--text-color), 0.16);
    pointer-events: none;
}
.interact{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.observe-empty-state:empty{
    display: none;
}
.observe-empty-state:not(:empty) ~ .empty-state{
    display: none;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(var(--text-color), 0.9);
}
.icon-only{
    height: 2.6rem;
    width: 2.6rem;
    padding: 0.6rem;
}
.close-icon{
    padding: 0.3rem;
}
.close-button{
    left: -0.5rem;
}

.button__label{
    font-size: 1rem;
}
.button__icon{
    height: 1.1rem;
    width: 1.1rem;
    &--left{
        margin-right: 0.5rem;
    }
    &--right{
        margin-left: 0.5rem;
    }
}

.color-0-9{
    color: rgba(var(--text-color), 0.9);
}
.color-0-8{
    color: rgba(var(--text-color), 0.8);
}
.color-0-7{
    color: rgba(var(--text-color), 0.7);
}

.weight-400{
    font-weight: 400;
}
.weight-500{
    font-weight: 500;
}
.weight-700{
    font-weight: 700;
}


#background_tile{
    position: absolute;
    width: 100%;
    height: 80vh;
    left: 0;
    top: 50vh;
    z-index: -1;
    transform: skewY(-3deg);
    background: #f6f6f6;
}

#main_header{
    position: relative;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
#main_logo{
    position: absolute;
    justify-self: center;
}
#main_header__logo{
    height: 1.8rem;
    width: 1.8rem;
}

.page{
    padding: 0 1rem;
}

#floor_1__outlets{
    margin: 1rem 0;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.outlet-preview{
    // transform-style: preserve-3d;
    padding: 1rem;
    background: rgba(var(--foreground-color), 1);
    // border: solid 0.8rem rgba(var(--text-color), 1);
    transition: box-shadow 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &:hover{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
/*     &:nth-of-type(1){
        transform: rotateY(1deg);
    }
    &:nth-of-type(2){
        transform: translateZ(-0.2rem);
    }
    &:nth-of-type(3){
        transform: rotateY(-1deg);
    } */
}
.outlet__title{
    font-weight: bold;
    text-transform: capitalize;
}
.outlet__description{
    color: rgba(var(--text-color), 0.8);
}
.outlet-preview__button{}

.investor-card{
    grid-template-columns: auto 1fr;
    grid-template-areas: 'img .' 'img .';
}
.investor__image{
    grid-area: img;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}


@media only screen and (min-width: 640px) {
    #main_header{
        padding: 1.5rem 2rem;
    }
    .page{
        padding: 0 3rem;
    }
}
@media only screen and (min-width: 1280px) {
    .page{
        padding: 0 10vw;
    }
    .outlet-preview{
        padding: 3rem 2rem;
    }
}

@media (any-hover: hover){
    ::-webkit-scrollbar{
        width: 0.5rem;
        height: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb{
        background: rgba(var(--text-color), 0.3);
        border-radius: 1rem;
        &:hover{
            background: rgba(var(--text-color), 0.5);
        }
    }
}