* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    --accent-color: #4d00a5;
    --light-shade: rgba(var(--text-color), 0.06);
    --text-color: 17, 17, 17;
    --text-color-light: 100, 100, 100;
    --foreground-color: 255, 255, 255;
    --background-color: #efefef;
    --error-color: red;
    color: rgba(var(--text-color), 1);
    height: calc(100%);
    font-size: clamp(1rem, 1.2vmax, 3rem);
    background: rgba(var(--text-color), 0.06);
}
body[data-theme='dark']{
    --accent-color:#9600fa;
    --text-color: 240, 240, 240;
    --text-color-light: 170, 170, 170;
    --foreground-color: 20, 20, 20;
    --error-color: rgb(255, 106, 106);
    background: rgba(var(--foreground-color), 1);
}
.font-mono{
    font-family: 'Roboto Mono', sans-serif;
}
.font-slab{
    font-family: 'Roboto slab', sans-serif;
}

.h1{
    font-size: 2.5rem;
}
.h2{
    font-size: 2rem;
}
.h3{
    font-size: 1.4rem;
}
.h4{
    font-size: 1rem;
}
.h5{
    font-size: 0.8rem;
}

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

p {
    max-width: 60ch;
    line-height: 1.5;
}

img{
    object-fit: cover;
}

button{
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: inherit;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}
.button{
    border-radius: 0.2rem;
    padding: 0.5rem 0.6rem;
}
.button--primary{
    background: var(--accent-color);
    color: rgba(var(--foreground-color), 1);
    .icon{
        fill: rgba(var(--foreground-color), 1);
    }
}
button:focus-visible{
    outline: rgba(var(--text-color), 1) 0.1rem solid;
}
sm-input,
sm-textarea{
    --border-radius: 0.2rem;
    --background: rgba(var(--text-color), 0.06);
}
sm-button{
    --border-radius: 0.2rem;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.flow-column{
    grid-auto-flow: column;
}
.gap-0-5{
    gap: 0.5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-1-5{
    gap: 1.5rem;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.justify-right{
    margin-left: auto;
}
.direction-column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
.margin-top-1-5{
    margin-top: 1.5rem;
}
.margin-bottom-0-5r{
    margin-bottom: 0.5rem;
}
.margin-bottom-1r{
    margin-bottom: 1rem;
}
.margin-bottom-1-5r{
    margin-bottom: 1.5rem;
}
.margin-bottom-2r{
    margin-bottom: 2rem;
}
.margin-bottom-3r{
    margin-bottom: 3rem;
}
.margin-bottom-4r{
    margin-bottom: 4rem;
}
.margin-left-0-5{
    margin-left: 0.5rem;
}
.margin-right-0-5{
    margin-right: 0.5rem;
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.hide-completely{
    display: none !important;
}
.no-transformations{
    transform: none !important;
}
.overflow-ellipsis{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(var(--text-color), 0.16);
    pointer-events: none;
}
.interact{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.observe-empty-state:empty{
    display: none;
}
.observe-empty-state:not(:empty) ~ .empty-state{
    display: none;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(var(--text-color), 0.9);
}
.icon-only{
    height: 2.6rem;
    width: 2.6rem;
    padding: 0.6rem;
}
.close-icon{
    padding: 0.3rem;
}
.close-button{
    left: -0.5rem;
}

.button__label{
    font-size: 1rem;
}
.button__icon{
    height: 1.1rem;
    width: 1.1rem;
    &--left{
        margin-right: 0.5rem;
    }
    &--right{
        margin-left: 0.5rem;
    }
}

.color-0-9{
    color: rgba(var(--text-color), 0.9);
}
.color-0-8{
    color: rgba(var(--text-color), 0.8);
}
.color-0-7{
    color: rgba(var(--text-color), 0.7);
}

.weight-400{
    font-weight: 400;
}
.weight-500{
    font-weight: 500;
}
.weight-700{
    font-weight: 700;
}
.weight-900{
    font-weight: 900;
}


#main_header{
    position: relative;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
#main_logo{
    justify-self: center;
}
#main_header__logo{
    height: 1.8rem;
    width: 1.8rem;
}

.page{
    padding: 0 1rem;
}

.common-padding{
    padding: 0 1rem;
}

.floor{
    margin-bottom: 3rem;
}

#floor_1__outlets{
    margin: 1rem 0;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.outlet-preview{
    padding-top: 1rem;
    background: rgba(var(--foreground-color), 1);
    // border: solid 0.8rem rgba(var(--text-color), 1);
    transition: box-shadow 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.outlet__title{
    font-weight: 900;
    text-transform: capitalize;
}
.outlet__description{
    color: rgba(var(--text-color), 0.8);
}
.outlet-preview__button{}

.label{
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}

sm-carousel{
    height: 100%;
    background: rgba(var(--text-color), 0.04);
    padding-bottom: 4rem;
    padding-top: 1.5rem;
    --arrow-left: 2rem;
    --arrow-right: 2rem;
    --arrow-fill: rgba(var(--text-color), 1);
    --arrow-background: transparent;
    --arrow-box-shadow: none;
    --arrow-bottom: -3.5rem;
    --indicator-bottom: -2.5rem;
}

.bit-bond-series__row,
.bob-fund__row,
.investor-card{
    min-width: 100%;
}

.investor-card{
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'img .' 'para para';
}
.investor__image{
    grid-area: img;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.investor__contribution-container{
    grid-area: para;
}



sm-tab-header{
    padding: 0.3rem;
    border-radius: 0.3rem;
    background: rgba(var(--text-color), 0.06);
}

table{
    border-collapse: collapse;
}
.tr{
    margin: 0.5rem;
    &:nth-of-type(even){
        background: rgba(var(--text-color), 0.1);
    }
}
.td{
    padding: 0.6rem 0.8rem;
}


@media only screen and (min-width: 640px) {
    .h1{
        font-size: 4rem;
    }
    .h2{
        font-size: 2.5rem;
    }
    .h3{
        font-size: 1.5rem;
    }
    .h4{
        font-size: 1.1rem;
    }
    #main_header{
        padding: 1.5rem 2rem;
    }
    .page{
        padding: 0 3rem;
    }
    .common-padding{
        padding: 0 2rem;
    }    
    .outlet-preview{
        padding-top: 3rem;
    }
}
@media only screen and (min-width: 1280px) {
    .page{
        padding: 0 10vw;
    }
}

@media (any-hover: hover){
    ::-webkit-scrollbar{
        width: 0.5rem;
        height: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb{
        background: rgba(var(--text-color), 0.3);
        border-radius: 1rem;
        &:hover{
            background: rgba(var(--text-color), 0.5);
        }
    }
    .outlet-preview:hover{
        z-index: 1;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
}