* :not(ol) {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 3rem);
}

body {
  --accent-color: #E72C37;
  --light-shade: rgba(var(--text-color), 0.06);
  --text-color: 17, 17, 17;
  --text-color-light: 100, 100, 100;
  --foreground-color: 255, 255, 255;
  --background-color: #F6f6f6;
  --error-color: red;
  --green: #007936;
  --font-weight-factor: 1;
  color: rgba(var(--text-color), 1);
  height: calc(100%);
  background: var(--background-color);
}

body[data-theme=dark] {
  --accent-color: #ff3949;
  --green: #13ff5a;
  --text-color: 240, 240, 240;
  --text-color-light: 170, 170, 170;
  --foreground-color: 20, 20, 20;
  --background-color: #0a0a0a;
  --error-color: rgb(255, 106, 106);
  --font-weight-factor: 0.9;
}
body[data-theme=dark] #outlet_switcher {
  background: linear-gradient(rgba(var(--text-color), 0.06), rgba(var(--text-color), 0.06)), rgba(var(--foreground-color), 1);
}
body[data-theme=dark] .outlet-preview {
  box-shadow: 0 4rem 3rem -2rem rgba(0, 0, 0, 0.3);
}

.full-bleed {
  grid-column: 1/4;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.4rem;
}

.h4 {
  font-size: 1rem;
}

.h5 {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

p {
  font-weight: calc(400 * var(--font-weight-factor));
  max-width: 70ch;
  line-height: 1.6;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
}

p a {
  color: var(--accent-color);
}

button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  font-weight: calc(500 * var(--font-weight-factor));
  -webkit-tap-highlight-color: transparent;
}

.button {
  border-radius: 0.2rem;
  padding: 0.5rem 0.6rem;
}

.button--primary {
  background: var(--accent-color);
  color: rgba(var(--foreground-color), 1);
}
.button--primary .icon {
  fill: rgba(var(--foreground-color), 1);
}

button:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

sm-input,
sm-textarea {
  --border-radius: 0.2rem;
  --background: rgba(var(--text-color), 0.06);
}

sm-button {
  --border-radius: 0.2rem;
}

sm-tab-header {
  align-self: flex-start;
}

ul {
  list-style: none;
}

ol[type="1"] {
  display: grid;
  gap: 2rem;
}

.accent-color {
  color: var(--accent-color);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-3 {
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.pos-relative {
  position: relative;
}

.text-align-right {
  text-align: right;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.margin-top-1-5 {
  margin-top: 1.5rem;
}

.margin-bottom-0-5r {
  margin-bottom: 0.5rem;
}

.margin-bottom-1r {
  margin-bottom: 1rem;
}

.margin-bottom-1-5r {
  margin-bottom: 1.5rem;
}

.margin-bottom-2r {
  margin-bottom: 2rem;
}

.margin-bottom-3r {
  margin-bottom: 3rem;
}

.margin-bottom-4r {
  margin-bottom: 4rem;
}

.margin-left-0-5 {
  margin-left: 0.5rem;
}

.margin-right-0-5 {
  margin-right: 0.5rem;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.hide-completely {
  display: none !important;
}

.no-transformations {
  transform: none !important;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: rgba(var(--text-color), 0.16);
  pointer-events: none;
}

.interact {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.observe-empty-state:empty {
  display: none;
}

.observe-empty-state:not(:empty) ~ .empty-state {
  display: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(var(--text-color), 0.9);
}

.icon-only {
  height: 2.6rem;
  width: 2.6rem;
  padding: 0.6rem;
}

.close-icon {
  padding: 0.3rem;
}

.close-button {
  left: -0.5rem;
}

.button__label {
  font-size: 1rem;
}

.button__icon {
  height: 1.1rem;
  width: 1.1rem;
}
.button__icon--left {
  margin-right: 0.5rem;
}
.button__icon--right {
  margin-left: 0.5rem;
}

.color-0-9 {
  color: rgba(var(--text-color), 0.9);
}

.color-0-8 {
  color: rgba(var(--text-color), 0.8);
}

.color-0-7 {
  color: rgba(var(--text-color), 0.7);
}

.color-0-3 {
  color: rgba(var(--text-color), 0.3);
}

.weight-400 {
  font-weight: calc(400 * var(--font-weight-factor));
}

.weight-500 {
  font-weight: calc(500 * var(--font-weight-factor));
}

.weight-700 {
  font-weight: calc(700 * var(--font-weight-factor));
}

.weight-900 {
  font-weight: calc(900 * var(--font-weight-factor));
}

.popup__header {
  padding: 0.5rem 1.5rem 0 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.popup__header__close {
  padding: 0.5rem;
  cursor: pointer;
}

#elevator_popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  grid-template-rows: auto 1fr;
  background: rgba(var(--foreground-color), 1);
}

.elevator__header {
  position: sticky;
  top: 0;
  padding: 1.2rem 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: rgba(var(--foreground-color), 1);
  z-index: 1;
}

#floor_list {
  align-content: flex-start;
  padding: 0 1.5rem 4rem 1.5rem;
  gap: 2rem;
  overflow-y: auto;
  transform-origin: top;
}

.floor_list__item {
  display: grid;
  gap: 1.5rem;
  transform-origin: top;
}
.floor_list__item:last-of-type {
  padding-bottom: 25vh;
}

.floor_list__header {
  position: sticky;
  top: 0;
  padding-bottom: 0.5rem;
  background: rgba(var(--foreground-color), 1);
  z-index: 1;
  text-transform: capitalize;
}

.outlet-list {
  gap: 2rem;
  counter-reset: outlet-counter;
}

.floor-list__outlet {
  display: flex;
  align-items: center;
}
.floor-list__outlet::before {
  content: "";
  width: 0.4rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background-color: var(--accent-color);
}

.outlet-list__item {
  display: grid;
  user-select: none;
  width: min(50ch, 100%);
  counter-increment: outlet-counter;
}
.outlet-list__item .outlet-title::before {
  content: counter(outlet-counter) ". ";
}
.outlet-list__item .icon {
  fill: var(--accent-color);
  flex-shrink: 0;
}

.outlet-title {
  font-size: 1.2rem;
  font-weight: calc(700 * var(--font-weight-factor));
  margin-bottom: 0.5rem;
}

.outlet-brief {
  color: rgba(var(--text-color), 0.8);
}

.popup__header__close {
  padding: 0.5rem;
  cursor: pointer;
}

.floor__button {
  padding: 0.5rem 0;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: calc(900 * var(--font-weight-factor));
  background: rgba(var(--foreground-color), 1);
}
.floor__button--active {
  background: rgba(var(--text-color), 0.2);
  box-shadow: 0 0 0 0.4rem rgba(var(--text-color), 1) inset;
}

.floor-name {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

.elevator__floor-line {
  flex: 1;
  height: 0.1rem;
  margin-left: 2rem;
  background-color: var(--accent-color);
}

#main_header {
  position: relative;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

#elevator_button {
  justify-self: flex-start;
  margin-left: -1rem;
}
#elevator_button .icon {
  width: 1.7rem;
  height: 1.7rem;
}

#main_header__logo {
  height: 1.8rem;
  width: 1.8rem;
}

.theme-switcher {
  position: relative;
  justify-self: flex-end;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.theme-switcher .icon {
  position: absolute;
  transition: transform 0.6s;
}

.theme-switcher__checkbox {
  display: none;
}
.theme-switcher__checkbox:checked ~ .moon-icon {
  transform: scale(0) rotate(90deg);
}
.theme-switcher__checkbox:not(:checked) ~ .sun-icon {
  transform: scale(0) rotate(-90deg);
}

.page {
  position: relative;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
}
.page > * {
  grid-column: 2/3;
}

.tag {
  background: var(--accent-color);
  padding: 0.4rem 0.6rem;
}

#home_page {
  will-change: scroll-position;
  overflow-y: auto;
  max-height: calc(100vh - 5.2rem);
  grid-template-columns: 2rem 1fr;
  scroll-behavior: smooth;
}

#floor_line_map {
  position: sticky;
  top: 1rem;
  height: 40vh;
  z-index: 10;
  grid-template-columns: 2rem 1fr;
  grid-column: 1/2;
}

.line-map {
  height: 100%;
}

.line-map__circle {
  position: absolute;
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  margin-top: -0.7rem;
  background: rgba(var(--foreground-color), 1);
  border: solid 0.2rem var(--accent-color);
  transition: transform 0.1s linear;
  z-index: 5;
}

.line-map__bar {
  position: relative;
  width: 0.1rem;
  height: 100%;
  border-radius: 1rem;
  background: var(--accent-color);
}
.line-map__bar::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.7rem;
  height: 0.2rem;
  background-color: var(--accent-color);
}

.floor-label {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0.2rem;
  margin-top: -1rem;
  user-select: none;
  transition: transform 0.3s;
}

.floor-circle {
  position: relative;
  border-radius: 1rem;
  padding: 0.8rem;
}
.floor-circle::after {
  content: "";
  position: absolute;
  padding: 0.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(var(--text-color), 1);
  border-radius: 1rem;
}

.floor-title {
  opacity: 0.5;
  font-size: 0.9rem;
  white-space: nowrap;
  padding: 0.4rem 0.6rem;
  margin-left: 1rem;
  border-radius: 0.2rem;
  background: rgba(var(--foreground-color), 1);
  transition: box-shadow 0.3s, opacity 0.3s;
}

#floor_container {
  width: calc(100% - 1rem);
}

.floor {
  padding-bottom: 3rem;
  width: 100%;
}

.floor__header {
  position: relative;
  /*     position: sticky;
      top: 0;
      z-index: 8; */
  padding: 0.5rem 0;
  transform: translateY(-0.1rem);
  background: var(--background-color);
  /*     &::before{
          content: '';
          position: absolute;
          left: -1%;
          width: 1%;
          height: 100%;
          background: var(--background-color);
      }
      &::after{
          content: '';
          position: absolute;
          right: -1%;
          width: 1%;
          height: 100%;
          background: var(--background-color);
      } */
}

.floor__num {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: calc(900 * var(--font-weight-factor));
  color: rgba(var(--text-color), 0.3);
}

.floor__title {
  font-size: 1.3rem;
  font-weight: calc(700 * var(--font-weight-factor));
}

.big-icon {
  height: 2rem;
  width: 2rem;
}

.outlets-container {
  margin: 1rem 0;
  gap: 1.5rem;
}

.outlet-preview {
  position: relative;
  display: grid;
  padding: 1rem;
  align-items: center;
  border-radius: 0.7rem;
  background-color: rgba(var(--foreground-color), 1);
}

.outlet__title {
  line-height: 1.1;
  max-width: 18ch;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: calc(900 * var(--font-weight-factor));
}

.svg-outlet-title {
  height: 4rem;
  margin-bottom: 1.5rem;
  fill: rgba(var(--text-color), 1);
  font-weight: calc(900 * var(--font-weight-factor));
}

.outlet__description {
  color: rgba(var(--text-color), 0.8);
}

.outlet-preview__button {
  padding: 0.5rem 0;
  justify-self: flex-start;
  color: var(--accent-color);
  font-weight: calc(700 * var(--font-weight-factor));
}

.outlet-preview__number {
  position: relative;
  line-height: 1;
  font-size: 8rem;
  font-weight: 900;
  -webkit-text-stroke: 1rem var(--accent-color);
  -webkit-text-fill-color: rgba(var(--foreground-color), 1);
}
.outlet-preview__number::after {
  content: attr(data-number);
  position: absolute;
  line-height: 1;
  font-size: 8rem;
  font-weight: 900;
  -webkit-text-stroke: 0;
  color: rgba(var(--foreground-color), 1);
}

.label {
  position: relative;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.value {
  font-size: 1.3rem;
}

.series-container {
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
.series-container .bit-bond-series__row,
.series-container .bob-fund__row {
  padding: 1.5rem;
}

sm-carousel {
  position: relative;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  background: rgba(var(--foreground-color), 1);
  --arrow-left: 1.5rem;
  --arrow-right: 1.5rem;
  --arrow-fill: rgba(var(--text-color), 1);
  --arrow-background: transparent;
  --arrow-box-shadow: none;
  --arrow-bottom: -3.5rem;
  --indicator-bottom: -2.5rem;
  --active-indicator-color: var(--accent-color);
}

.bit-bond-series__row,
.bob-fund__row,
.investor-card {
  min-width: 100%;
}

.bit-bond-series__row {
  grid-auto-flow: column;
}

.bob-fund__row .grid {
  align-content: flex-start;
}

.bob-fund__row,
.bit-bond-series__row {
  gap: 1rem;
  border-radius: 0.5rem;
  align-items: flex-start;
  background-color: rgba(var(--foreground-color), 1);
  box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.1);
}

.up-arrow {
  height: 1em;
  width: 1em;
  fill: var(--green);
  margin-right: 0.1em;
}

.percent-gain {
  font-weight: calc(500 * var(--font-weight-factor));
  color: var(--green);
  margin-right: 0.5em;
}

.percent-gain,
.time-elapsed {
  font-size: 0.8rem;
}

.time-elapsed {
  color: rgba(var(--text-color), 0.8);
}

.investor-card {
  align-items: flex-start;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
.investor-card--small {
  grid-template-areas: "img ." "para para";
}
.investor-card--small .investor__image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.investor-card--big {
  grid-template-areas: "img ." "img para";
}

.investor__image {
  grid-area: img;
  width: 5rem;
  border-radius: 0.5rem;
}

.investor__bio {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.investor__contribution-container {
  grid-area: para;
}

#outlet_switcher {
  position: absolute;
  top: 0;
  padding: 1rem;
  border-radius: 0.3rem;
  background: rgba(var(--foreground-color), 1);
  box-shadow: 0 2rem 4rem -1rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.outlet_switcher__floor {
  overflow-x: auto;
}

.outlet_switcher__button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.4rem 0;
  flex-shrink: 0;
  font-weight: calc(500 * var(--font-weight-factor));
}
.outlet_switcher__button--active {
  color: var(--accent-color) !important;
}
.outlet_switcher__button:not(:last-of-type)::after {
  content: "";
  position: relative;
  width: 4vw;
  height: 0.1rem;
  margin: 0 0.5rem;
  background: var(--accent-color);
}

.outlet-label {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.outlet-label .icon {
  fill: var(--accent-color);
  margin-right: 0.5rem;
}

scroll-tab-header {
  --padding: 0.5rem 0;
  --border-radius: 0.3rem;
  --background: transparent;
}

scroll-tab-panels {
  --gap: 1.5rem;
  --background: transparent;
  margin-bottom: 6rem;
}
scroll-tab-panels > * {
  opacity: 0.4;
  flex-shrink: 0;
  min-width: 100%;
  transition: opacity 0.6s;
  align-self: start;
}
scroll-tab-panels > [active] {
  opacity: 1;
}

.auto-grid-layout {
  justify-content: flex-start;
  overflow-x: auto;
}

.grid-2 {
  grid-template-columns: auto 1fr;
}

.rooms__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  background: var(--background-color);
  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
}

.room__label {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: calc(500 * var(--font-weight-factor));
  margin-right: 0.5rem;
  padding-right: 1.5rem;
}
.room__label::after {
  content: "";
  position: absolute;
  height: 150%;
  width: 0.1rem;
  right: 0;
  background-color: rgba(var(--text-color), 0.5);
}

.room-button {
  position: relative;
  opacity: 0.6;
  flex-shrink: 0;
  border-radius: 0;
  font-weight: calc(500 * var(--font-weight-factor));
  font-size: 1.1rem;
  transition: opacity 0.3s, background-color 0.3s;
  padding: 0.6rem 0.8rem;
}
.room-button:not(:last-of-type)::after {
  content: "";
  height: 0.1rem;
  width: 4rem;
  margin-left: 1rem;
  align-self: center;
  background: var(--accent-color);
}
.room-button[active] {
  opacity: 1;
  color: var(--accent-color);
}
.room-button[active] .icon {
  fill: var(--accent-color);
}

#ico_page__carousel {
  width: min(36rem, 100%);
  height: max-content;
}

.phase {
  grid-template-columns: 4rem 1fr;
}
.phase:not(:last-of-type) .phase__description {
  padding-bottom: 1.5rem;
}
.phase:last-of-type .progress-bar__line {
  height: 0;
}

.progress-bar__circle,
.progress-bar__line {
  position: absolute;
  margin-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar__circle {
  padding: 0.4rem;
  background: rgba(var(--foreground-color), 1);
  border: solid rgba(var(--text-color), 1) 0.1rem;
  border-radius: 50%;
  z-index: 1;
}

.progress-bar__line {
  height: 100%;
  width: 0.1rem;
  background: rgba(var(--text-color), 0.9);
}

.phase__date {
  margin-top: 0.3rem;
}

.phase__description {
  margin-top: 1rem;
}

@media only screen and (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }

  .outlet-preview {
    gap: 1.5rem;
  }

  .outlet-preview__number-container {
    grid-row: 1/2;
    text-align: right;
    justify-content: right;
  }

  .outlet-preview__number::after {
    right: 0;
  }

  #outlet_switcher {
    width: calc(100% - 2rem);
  }

  .outlet-hero-section {
    margin-top: 2rem;
  }

  .series-container {
    gap: 1rem;
  }

  .outlet-list__item .icon {
    margin-left: auto;
  }

  .rooms__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .rooms__header scroll-tab-header {
    width: calc(100vw - 2rem);
  }
}
@media only screen and (min-width: 640px) {
  #home_page, .page {
    grid-template-columns: 1fr 90vw 1fr;
  }

  .h1 {
    font-size: 4rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .h3 {
    font-size: 1.5rem;
  }

  .h4 {
    font-size: 1.1rem;
  }

  #main_header {
    padding: 1.2rem 2rem;
  }

  #floor_list {
    gap: 8vw;
    padding: 0 8vw 4rem 8vw;
  }

  .floor_list__item {
    position: relative;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .floor_list__item .floor_list__header {
    display: grid;
  }
  .floor_list__item:not(:last-of-type) {
    padding-bottom: 8vw;
  }
  .floor_list__item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    width: 24rem;
    height: 0.2rem;
    bottom: 0;
    background-color: var(--accent-color);
    justify-self: center;
  }
  .floor_list__item:nth-of-type(odd) .floor_list__header {
    text-align: right;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .floor_list__item:nth-of-type(odd) .outlet-list {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .floor__header::before {
    left: -10%;
    width: 10%;
  }
  .floor__header::after {
    right: -10%;
    width: 10%;
  }

  .outlets-container {
    gap: 1.5rem;
  }

  .outlet-preview {
    gap: 1rem;
    padding: 5rem 4rem;
    grid-template-columns: 1.2fr 1fr;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4rem 3rem -2rem rgba(0, 0, 0, 0.06);
  }
  .outlet-preview:nth-of-type(even) {
    grid-template-columns: 1fr 1.2fr;
  }
  .outlet-preview:nth-of-type(even) .outlet-preview__info {
    grid-column: 2/3;
  }
  .outlet-preview:nth-of-type(even) .outlet-preview__number-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .outlet-preview:nth-of-type(even) .outlet-preview__number::after {
    left: 0;
  }
  .outlet-preview:nth-of-type(odd) .outlet-preview__number-container {
    margin-left: auto;
    text-align: right;
  }
  .outlet-preview:nth-of-type(odd) .outlet-preview__number::after {
    right: 0;
  }

  .bit-bond-series__row {
    grid-auto-flow: column;
  }

  /*     .carousel-holder{
          align-self: flex-start;
          transform: translateY(-2rem);
          z-index: 1;
          border-radius: 0.5rem;
          &--left{
              grid-row: 1/2;
              grid-column: 1/2;
              box-shadow: 1px 0.1rem 0.1rem rgba(0, 0, 0, 0.06), -2rem 5rem 4rem -2rem rgba(0, 0, 0, 0.2);  
          }
          &--right{
              box-shadow: 1px 0.1rem 0.1rem rgba(0, 0, 0, 0.06), 2rem 5rem 4rem -2rem rgba(0, 0, 0, 0.2);
          }
      } */
  .outlet-preview__carousel {
    padding: 2rem 2rem 5rem 2rem;
  }

  #outlet_switcher {
    padding: 1rem 1.5rem;
  }

  .outlet-hero-section {
    margin-top: 4rem;
  }

  .auto-grid-layout {
    grid-template-columns: auto 1fr;
  }

  .investor__image {
    width: 8rem;
  }
}
@media only screen and (min-width: 1280px) {
  #home_page, .page {
    grid-template-columns: 1fr 85vw 1fr;
  }

  .grid-3 {
    justify-content: center;
  }
  .grid-3 > .grid {
    width: 100%;
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--text-color), 0.5);
  }

  .page-link {
    cursor: pointer;
    transition: color 0.3s;
  }
  .page-link:hover {
    color: var(--accent-color);
  }
  .page-link:hover .icon {
    fill: var(--accent-color);
  }

  .floor__button:hover {
    background: var(--background-color);
  }

  .outlet-list__item .icon {
    fill: var(--accent-color);
    opacity: 0;
    transform-origin: left;
    transform: translateX(-0.5rem);
    transition: opacity 0.3s, transform 0.3s;
  }
  .outlet-list__item:hover .icon {
    opacity: 1;
    transform: translateX(0);
  }
}